<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <center> 
    <h1>TRANSFOLWER LEARNING PVT. LTD.</h1> </hr>
<h2> Login form </h2>
<form method="post" action="/login">
    
        Enter Email:  <br>
        <input type="text" name ="email"/><br>
        Enter Password: <br>
        <input type="password" name ="password"/><br>
        <input type="submit" name="submit" value ="login"><br>
    </center>
</form>
</body>
</html>